<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.email %> your target <%= @target.title %> just got matched!</h1>
    <p>
      You can now have a conversation with the matched user.
      Remember to be polite and hava a good time!
    </p>
    <p>Thanks for using our services!</p>
  </body>
</html>
