<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
     <%= I18n.t('mailer.match.title', user: @user.email, target: @target.title) %>
    </h1>
    <p>
      <%= I18n.t('mailer.match.content') %>
    </p>
    <p>
      <%= I18n.t('mailer.match.thanks') %>
    </p>
  </body>
</html>
